<h1>RXJS Example</h1>

<button type="button"
        name="button"
        (click)="rxjsObservable()">
        Button RXJS Observable
</button>
<br>
<br>
<button type="button"
        name="button"
        (click)="rxjsCountInterval()">
        Button RXJS Interval
</button>
<br>
<br>
<button type="button"
        name="button"
        (click)="rxjsMapFilter()">
        Button RXJS Map Filter
</button>
<br>
<br>
<button type="button"
        name="button"
        (click)="rxjsTap()">
        Button RXJS Tap
</button>